{% extends "base.html.twig.html" %}

{% block carousel %}  {% endblock %}

{% block content %}
<!-- Three columns of text below the carousel -->
        <h3>Nos meilleures ventes</h3>
        <p>Découvrez les articles les plus vendus. </p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"> BALLON DE BASKET <span class="text-muted">SPALDING</span></h2>
                <p class="lead">En 1983, la NBA choisit la marque Spalding pour devenir le fournisseur officiel de la NBA. À cette époque, Spalding fabriquait la première balle en cuir synthétique. Même aujourd'hui, Spalding est toujours la référence en basket-ball, 
                et les joueurs de la NBA ne peuvent se passer de cette marque. Lors des compétitions officielles (Jeux olympiques et Coupe du monde), il leur est difficile d'utiliser des boules de feu en fusion, Les stars de la NBA se sont habituées à la haute qualité des modèles NBA de Spalding.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/spalding.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">JORDAN DRY AIR DIAMOND <span class="text-muted">SHORT</span></h2>
                <p class="lead">Les shorts de basket font partie de l'équipement nécessaire aux joueurs, qu'ils soient professionnels ou amateurs, quel que soit leur sexe. Quand on parle de basket, on pense évidemment à la NBA et aux grands équipementiers. Récemment, c'est l'équipementier Nike qui a signé un énorme contrat avec la NBA, un contrat de huit ans, beaucoup de zéros.
                 La marque se lance immédiatement dans la fabrication de nouveaux équipements pour les joueurs américains.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/chorte3.webp') }}" class="img-fluid" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">AIR JORDAN 4 RETRO <br><span class="text-muted">BRED</span></h2>
                <p class="lead">Dans la lignée du succès rencontré par la Air Jordan 3, la marque au Swoosh confie à nouveau les rênes de la Air Jordan 4 au célèbre designer Tinker Hatfield en 1989. Grâce à son design singulier marqué notamment par ses panneaux en mesh et son système de laçage, la silhouette symbole de performance a contribué à la notoriété de la légende Michael Jordan.

Le modèle a par ailleurs fait l’objet de collaborations marquantes et de nombreux coloris sont aujourd’hui devenus cultes. La Air Jordan 4 est désormais entrée au panthéon de la sneaker et s’affirme comme l’une des références les plus prisées des sneakerheads.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/airjordan4.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
{% endblock %}