{% extends "base.html.twig.html" %}

{% block title %}Mot de passe oublié - Monde De Basket{% endblock %}

{% block content %}
<div class="block-small">
    
    
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Rénitialiser mon mot de passe</h1>
        <label for="inputEmail">Votre email</label>
        <input type="email"  name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre adresse email" required autofocus>


        <button class="btn btn-lg btn-primary  btn-info btn-block mt-3 " type="submit">
            Valider
        </button>
        <hr>
        <p class="text-center">Ou souhaitez-vous <a href="{{ path('app_login') }}">vous connecter</a> ?</p>
    </form>
</div>
    <style>
       .block-small {
         max-width: 600px;
         margin: 0 auto;
            }
    </style>

{% endblock %}
